body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #667081;
}
    @font-face {
        font-family: 'Open sans', Arial, Tahoma;
        src: url(fonts\Open sans.ttf);
        src: url(fonts\Arial.ttf);
        src: url(fonts\Tahoma.ttf);
        font-size: 14px;
        color: #000;
    }
.first-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.hello-item {
    border: 1px solid red;
    width: 470px;
    height: 412px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
    .hello-item  img {
        display: block;
        margin: auto;
        border-radius: 100px;
        border: 2px solid #fff;
    }
    .hello-item h1,h2,article {
        text-align: center;
        color: #ffffff;
        margin: 0;
        padding: 0;
    }
    .hello-item h1 {
        font-family: Arial;
        font-size: 45px;
        margin: 10px 0;
    }
    .hello-item h2 {
        font-family: 'Open sans', sans-serif;
        font-size: 30px;
        font-weight: normal;
    }
    .hello-item article {
        margin: 10px 0;
    }
    .hello-item button {
        display: block;
        margin: auto;
        padding: 10px 20px;
        border-radius: 5px;
        border-color: #000614;
        color: #ffffff;
        background: #000614;
    }
.cv-sidebar {
    float: left;
    width: 250px;
    background: #000614;
    overflow: hidden;
}
    .list-item img {
        display: block;
        margin: 20px auto;
        border-radius: 100px;
        border: 2px solid #fff;
    }
    .list-item p {
        text-align: center;
        font-weight: bold;
        color: #fff;
        margin: 20px;
    }
    .sidebar-items a {
        display: block;
        width: 100%;
        padding: 20px;
        border-top: 1px dashed #222935;
        font-size: 18px;
        text-decoration: none;
        color: #667081;
    }
    .sidebar-items a:last-child {
        border-bottom: 1px dashed #222935;
    }
    .cv-sidebar button {
        background: #000614;
        color: #fff;
        border: none;
        display: block;
        padding: 0;
        margin: 20px auto;
        font-size: 18px;
    }

.cv-content {
    float: left;
    max-width: 900px;
    padding: 40px;
    background: #ffffff;
}
    .name-content {
        font-size: 25px;
        color: #26c17e;
        display: block;
        margin-bottom: 50px;
    }
    .me-item {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
    }
            #timeline {
                margin: 20px 0 20px 20px;
                padding: 0 0 5px 0;
                border-left: 5px solid;
                border-right: 0px;
                border-image: radial-gradient(#26c17e 30%, #fff) 1 100%;
            }
                .timeline-item {
                    overflow: hidden;
                    height: auto;
                    font-size: 13px;
                    position: relative;
                    margin: 5px 0;
                }
                .timeline-year {
                    width: 20px;
                    height: 28px;
                    font-weight: bold;
                    background: white;
                    padding: 5px;
                    font-size: 12px;
                    float: left;
                    margin: 9px 0 0 -23px;
                }
                    .timeline-content {
                        background: #eeeeee;
                        border-bottom: 2px solid #a9a9a9;
                        margin: 5px 0 0 30px;
                        padding: 8px 0 12px 8px;
                    }
                    .timeline-content h3 {
                        font-size: 13px;
                        margin: 0;
                    }
                    .timeline-content p {
                        font-size: 12px;
                        margin: 0;
                    }
                    .angl {
                        width: 0;
                        height: 0;
                        border: 15px solid transparent; 
                        border-right-color: #eeeeee;  
                        border-left: 0;
                        margin-right: 0;
                        position: relative;
                        left: 45px;
                        bottom: 30px;
                    }
                .exp-item {
                    overflow: hidden;
                }
                .exp-year {
                    width: 80px;
                    font-size: 10px;
                    font-weight: bold;
                    float: left;
                    margin: 3px 0 0 10px;
                }
                    .exp-year  p {
                        font-weight: normal;
                        color: #a9a9a9;
                        margin-top: 3px;
                    }
                .exp-content {
                    font-size: 12px;
                    float: right;
                    width: 370px;
                }
                    .exp-content  p {
                        font-size: 13px;
                        font-weight: bold;
                        margin: 0 0 3px 0;
                    }
                .exp-item-2 {
                    margin: 20px 0;
                }

